<Files .htaccess>
  Order allow,deny
  Deny from all
</Files>

<Files creds.txt>
  Order allow,deny
  Deny from all
</Files>

<Files .gitignore>
  Order allow,deny
  Deny from all
</Files>

# Redireccionar a https
#Redirect permanent http://jinetes.rutolo.eu https://jinetes.rutolo.eu/

RewriteEngine On
RewriteCond %{SERVER_PORT} 80
RewriteRule ^(.*)$ https://jinetes.rutolo.eu/$1 [R,L]
