@font-face {
  font-family: "Black Chancery";
  src: url(https://jinetes.rutolo.eu/res/BlackChancery.ttf);
}

body {
  padding-top: 10vh;
}

/* Banner */
.cabezoneria img {
  width: 100%;
  height: auto;
  opacity: 0.6;
}

.cabezoneria h1 {
  position: absolute;
  top: 5ex;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 6vw;
}

@media only screen and (max-width: 700px) {
  .cabezoneria img {
    margin-top: 5vh;
  }

  .cabezoneria h1 {
    top: 13vh;
    font-size: 5vw;
  }
}

.prueba {
  border: 5px dashed lavender;
}

.boton-subir {
  position: fixed;
  bottom: 2ex;
  right: 2ex;
}

.jinetes {
  font-family: "Black Chancery", "Palatino Linotype", "Book Antiqua", Palatino, serif;
}
