.contenedor{
	width: 210mm;
	column-count: 2;
	margin:auto;
}

.lista{
	list-style: none;
	padding-left: 1em;
}

.horizontal{
	display: inline-block;
	padding-right: 1em;
}

.habilidad{
	break-inside: avoid-column;
}
